.container2{
    display: flex;
    justify-content: space-between;
    margin: 0px 120px;
}

.container .div-c {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.img-design{
    width: 90%;
    border-radius: 10px;
    border: 5px solid #1dc24f;
}

.carousel-indicators{
    border-radius: 100%;
    margin-bottom: -1rem;
    display: none;
}
.camp-name{
    font-size: xx-large;
    font-weight: 600;
}